{% extends 'base.html.twig' %}

{% block title %}Channel{% endblock %}

{% block body %}
    <h1>Channel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ channel.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ channel.title }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ channel.url }}</td>
            </tr>
            <tr>
                <th>Group_id</th>
                <td>{{ channel.groupId }}</td>
            </tr>
            <tr>
                <th>Logo_filename</th>
                <td>{{ channel.logoFilename }}</td>
            </tr>
            <tr>
                <th>Tvg_id</th>
                <td>{{ channel.tvgId }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ channel.createdAt ? channel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ channel.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('route_channel_index') }}">back to list</a>

    <a href="{{ path('route_channel_edit', {'id': channel.id}) }}">edit</a>

    {{ include('channel/_delete_form.html.twig') }}
{% endblock %}
